.ant-layout .site-layout {
  background: linear-gradient(90deg, rgba(196,193,255,1) 0%, rgba(196,196,255,1) 38%, rgba(234,251,255,1) 100%);
}

.sideNavOpen-container .ant-layout-sider {
    background: #fff;
    width: 320px !important;
    min-width: 320px !important;
}

.sideNavClose-container .ant-layout-sider {
    background: #fff;
    width: auto !important;
    min-width: auto !important;
}

.openSideNav-arrow {
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.openSideNav-arrow:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.sideNav-logo {
    width: 45px;
    height: 41px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9px 40px 24px;
}

.logo-containerClose {
    display: grid;
    justify-content: center;
    margin: 15px 0;
}

.logo-containerClose .openSideNav-arrow {
    margin: 15px 0 0 10px;
}

.logo-containerClose~ul .horizon-style {
    margin: 10px 15px 20px 28px;
}

.logo-title-container {
    display: flex;
    align-items: center;
    color: #1d1752;
}

.logo-title-container div {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

/* side Titles */
.sider-menu path,
.menuHomeIcon path {
    fill: #9c63d1;
}

.sider-menu path:last-child {
    fill: white;
}

.sider-menu .ant-menu-title-content {
    font-size: 16px;
    color: #9c63d1;
}

.sider-menu .ant-menu-title-content a {
    color: #9c63d1 !important;
}

.sider-menu-dash path,
.menuIcon-style {
    fill: red;
}

.sider-menu-dash svg,
.sider-menu svg {
    font-size: 30px;
    margin-right: 8px;
}

.sider-menu-dash .ant-menu-title-content {
    font-size: 16px;
    color: red;
}

.sider-menu-dash .ant-menu-title-content a {
    color: red;
}

.sideNav-container .ant-menu li {
    margin: 15px 0;
}

.horizon-style {
    margin: 20px 24px;
    border: 1px solid lightgrey;
    opacity: 0.8;
}

/* complaint-container */

.complaint-logo {
    fill: #9c63d1;
    outline: #9c63d1;
}

.sider-menu-Complaint {
    color: blueviolet;
    font-size: 15px;
    font-weight: 500;
}

.complaintList {
    background-color: #e6cbff;
    margin: 0 15px 0 70px;
    border-radius: 10px;
}

.complaintList ul {
    padding-inline-start: 35px;
    list-style: initial;
}

.complaintList li {
    font-size: 14px;
    padding-left: 0 !important;
    margin: 8px 0 !important;
}

.setting-style {
    position: absolute;
    bottom: 40px;
    left: 24px;
}

.setting-style .sider-menu path:last-child {
    fill: #9c63d1;
}

/* content header */
.header-container,
.header-container div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container span {
    padding: 0 7px;
    border-radius: 10px;
}

.header-container span svg {
    font-size: 20px;
}

.header-container span:last-child svg {
    font-size: 12px;
}

.header-input svg {
    font-size: 18px !important;
    color: #bfbfbf;
}

.header-input input {
    height: 32px;
}

.content-title {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #1d1752;
}

.content-title svg {
    font-size: 30px;
    margin: 40px 10px 40px 3px;
}

.content-title svg path {
    fill: #1d1752;
}

.content-container {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
}

.sliderCardMargin-first {
    margin: 0 0 40px 20px;
}

.sliderCardMargin-second {
    margin: 0 0 0 20px;
}

.site-layout-background {
    padding: 24px;
    min-height: 360px;
}